extends layout

block content
  h1.knight
  h2 How about a nice game of chess?

  div#form
    form#create_form(action='')
      input#game_link.game_link(type='text', readonly, value='')
      button.button#play(type='submit') Play
    p#waiting Generating game link.
    fieldset
      label Minutes: 
        input#minutes(type='number', value='30', min='1', max='50', required)
      label(style='padding-left: 2em;') Increment:
        input#seconds(type='number', value='30', min='0', max='50', required)
  
block scripts
  script(type='text/javascript', src='/javascripts/start.js')